<main>
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <form method="POST" action="/tiendas/update/{{tienda._id}}" class="pt-3 pb-4">
            <h2 class="text-left font-weight-normal px-4">Editar tienda</h2>
            <hr>
            <div class="mx-4">
                <div class="d-flex">
                    <div class="form-group col-6 pl-0">
                        <label>Nombre</label>
                        <input class="form-control" type="text" name="nombre" value="{{ tienda.nombre }}">
                    </div>
                    <div class="form-group col-6 pr-0">
                        <label>Administrador</label>
                        <input class="form-control" type="text" name="adm_tienda" value="{{ tienda.adm_tienda }}">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group col-6 pl-0">
                        <label>Dirección</label>
                        <input class="form-control" type="text" name="direccion" value="{{ tienda.direccion }}">
                    </div>
                    <div class="form-group col-6 pr-0">
                        <label>Número</label>
                        <input class="form-control" type="text" name="numero" value="{{ tienda.numero }}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="email" value="{{ tienda.email }}">
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" rows="3" name="descripcion">{{ tienda.descripcion }}</textarea>
                </div>
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>
        </form>
    </div>
</main>
