<main>
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <form method="POST" action="/componentes/disco/update/{{componente._id}}" class="pt-3 pb-4">
            <h2 class="text-left font-weight-normal px-4">Editar disco duro</h2>
            <hr>
            <div class="mx-4">
                <form>
                    <div class="d-flex">
                        <div class="form-group col-6 pl-0">
                            <label>Nombre</label>
                            <input class="form-control" type="text" name="nombre" value="{{ componente.nombre }}">
                        </div>
                        <div class="form-group col-6 pr-0">
                            <label>Marca</label>
                            <input class="form-control" type="text" name="marca" value="{{ componente.marca }}">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group col-6 pl-0">
                            <label>Precio</label>
                            <input class="form-control" type="text" name="precio" value="{{ componente.precio }}" pattern="^[0-9]+">
                        </div>
                        <div class="form-group col-6 pr-0">
                            <label>Stock</label>
                            <input class="form-control" type="text" name="stock" value="{{ componente.stock }}" pattern="^[0-9]+">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="categoria" value="disco">
                    </div>
                    <div class="form-group h4 font-weight-normal mb-2">
                        Detalles
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex">
                        <div class="form-group col-4 px-0 pr-2">
                            <label>Tipo</label>
                            <input class="form-control" type="text" name="detalle.tipo" value="{{ componente.detalle.tipo }}">
                        </div>
                        <div class="form-group col-4 px-0 pr-2">
                            <label>Interfaz</label>
                            <input class="form-control" type="text" name="detalle.interfaz" value="{{ componente.detalle.interfaz }}">
                        </div>
                        <div class="form-group col-4 px-0">
                            <label>Velocidad</label>
                            <input class="form-control" type="number" name="detalle.velocidad" value="{{ componente.detalle.velocidad }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </form>
            </div>
        </form>
    </div>
</main>
